.container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
}

.pageWrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.terminalWrapper {
	margin: 20px;
	height: 500px;
	width: 500px;
	position: absolute;
	top: calc(50% - 270px);
	left: calc(50% - 270px);
}